In [3]:
import numpy as np 
my_arr = np.arange(10)
my_list = list(range(10))

print("Arr:{}\nList:{}".format(my_arr,my_list))

Arr:[0 1 2 3 4 5 6 7 8 9]
List:[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
#元组，一个固定长度，不可改变的Python序列对象
tup = 4,5,6
tup

(4, 5, 6)

In [5]:
#当用复杂的表达式定义元组，最好将值放到圆括号内

nested_tup = (4,5,6),(7,8)
nested_tup

#用tuple函数可以将任意序列或迭代器转换称元组
print(tuple([4,3,2]))

tup = tuple('string')
tup

#python中的迭代器是什么？

#元组一旦创建，元组中的对象就不能修改了，如果元组中某个对象是可变的，比如列表，可以在原味进行修改

(4, 3, 2)

('s', 't', 'r', 'i', 'n', 'g')

In [10]:
#可以用加号运算符将元组串联起来
(4,'dassd','ds')+(2,34,4)

#元组乘以一个整数，可以将几个元组的复制串联起来
(4,5)*3

(4, 5, 4, 5, 4, 5)

In [14]:
#拆分元组
tup = (4,5,6)
tup = 4,5,6
a,b,c = tup
b
#即使含有元组的元组也会被拆分：
tup = 4,5,(6,7)
a,b,(d,g) = tup
g

7

In [15]:
#变量的替换
a,b = 1,2
print(a,b)
a,b = b,a
print(a,b)

1 2
2 1

In [21]:
#变量拆分用来迭代元组活着列表序列

seq = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

#高级元组拆分法
values = 1, 2, 3, 4, 5
a, b, *rest = values
print('a,b:{},{}'.format(a,b))
print('rest:{}'.format(rest))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9
a,b:1,2
rest:[3, 4, 5]

In [22]:
#tuple方法
#count方法，统计某个值出现频率
a = 1,2,3,4,5,6,7,6,2,21,1,443
a.count(2)

2